header{
  height: 65px;
  background: #844200;
  text-align: center;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header_button{
  padding: 0 15px;
}
.header_left{
  font-size: 25px;
  float: left;
}
.header_right{
  font-size: 22px;
  float: center;
  padding: 0 20px;
}
.droplist{
 height: 30px;
 width: 100px;
}
.search_language{
  background-color: #844200;
    height: 190px;
    width: 60%;
    padding: 0 20%;
    border: 5px solid lightgray;
    display: table;
}
.date_input{
  height: 12px;
  width: 50px;
}
.monthselect{
  height: 18px;
  width: 100px;
}
.monthlyselect{
  height: 18px;
  width: 100px;
}
.year_input{
  height: 12px;
  width: 50px;
}
.date{
   display: table;
}
.search_left {
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    display: flex;
    flex-direction: column;
}
#Nofiction_check {
    position: relative;
    bottom: 5px;
    height: 10px;
    width: 10px;
}
#Fiction_check{
  position: relative;
    bottom: 5px;
    height: 10px;
    width: 10px;
}
.search_box{
  margin-top: 25px;
    margin-left: 50px;
    background-color: white;
    width: 300px;
    height: 31px;
    border-radius: 8px;
    position: center;
}
#free_search{
  width: 255px;
    height: 25px;
    position: center;
    bottom: 4px;
    border-color: white;
    border-style: none;
    outline: none;
}
#search_book_button{
   font-size: 20px;
    padding: 15px 25px;
    color: white;
    background-color: #844200;
    border: none;
    border-radius: 6px;
    margin: 10px 0 10px 300px;
}
.search_result{
 display: grid;
 padding: 0 5px 0 75px;
 grid-template-columns: repeat(4, 1fr);
}
.book_card{
  width: 150;
}
.book_card_img{
  border: 2px solid rgb(194, 166, 141);
    padding-bottom: 165px;
}
.book_info{
  background-color: 2px solid rgb(194, 166, 141);
  margin-top: auto;
}
footer {
    background-color: #844200;
    width: 100%;
    padding-bottom: 25px;
    margin-top: 100px;
    
}
.contact{
  text-align: center;
}
.mail{
  display: table;
    margin: 0 auto;
    width: 100%;
}
#email {
    display: table-cell;
}
.email_num {
    display: flex;
}
.call {
    display: table;
    margin: 0 auto;
    width: 100%;
}
#phone {
    display: table-cell;
}
.phone_num {
    display: table-cell;
}
.copyright {
    float: right;
    padding-bottom: 10px;
    padding-right: 20px;
}

@media only screen and (max-width: 500px) {
    .search_book {
        height: 600px;
        margin: 0 5%;
    }
}