header{
  height: 65px;
  background: #cccccc;
  text-align: center;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header_button{
  padding: 0 15px;
}
.header_left{
  font-size: 25px;
  float: left;
}
.header_right{
  font-size: 22px;
  float: center;
  padding: 0 20px;
}
.droplist{
 height: 30px;
 width: 100px;
}
.search_box{
  margin-top: 25px;
  margin-left: 50px;
  background-color: white;
}
#free_search{
  
}
.search_book_button{
    
}
.search_result{
 display: grid;
 padding: 0 5px 0 75px;
 grid-template-columns: repeat(4, 1fr);
}
.book_card{
  width: 150;
}
.book_card_img{
  border: 2px solid rgb(194, 166, 141);
    padding-bottom: 165px;
}
.book_info{
  background-color: 2px solid rgb(194, 166, 141);
  margin-top: auto;
}